PUBLIC_QQ_APP_ID=replace_with_app_id
PUBLIC_QQ_APP_SECRET=replace_with_app_secret
PUBLIC_QQ_BOT_TOKEN=replace_with_random_secret_at_least_32_characters
PUBLIC_QQ_DATA_DIR=/var/lib/zzz-public-qq
PUBLIC_QQ_HOST=127.0.0.1
PUBLIC_QQ_PORT=8787
PUBLIC_QQ_LOCAL_RELAY=http://127.0.0.1:8787
